body {

  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color:#F5F5EB;
  cursor: pointer;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;

}
.main-header {
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.img {
  height: 300px; 
  /* width: auto;  */
  
}

.accordion {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.accordion-item {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.accordion-header {
  /* Выровнять по центру */
  display: flex;
  justify-content: center;
  color:blue;
  border-bottom: 2px solid grey;
  /* cursor: pointer; */
  padding: 0.5rem;
  background-color: #F5F5EB;
}

.accordion-img {
  /* Выровнять картинку по центру */
  display: flex;
  justify-content: center;
  overflow: hidden;
  /* opacity: 1; */
  max-height: 0;
}

.accordion-item:hover .accordion-header {
  color:rgb(0, 0, 0);
}

.accordion-item:hover .accordion-img {
  overflow: visible;
  max-height: 300px;
  /* opacity: 0; */
  transition: overflow 0.3s, max-height 0.3s ease-out;
}

/* .accordion-img:visited .accordion-img {
  overflow: visible;
  max-height: 300px; */
  /* transition: max-height 0.5s ease-in; */
}


.accordion-item:active .accordion-img {
  overflow: visible;
  max-height: 300px;
  /* transition: max-height 100s ease-in; */
}




